# Network and account info
RPC_URL_MAINNET=XXX
RPC_URL_GOERLI=XXX
RPC_URL_ARBITRUM=XXX
RPC_URL_ARBITRUM_GOERLI=XXX
RPC_URL_OPTIMISM=XXX
RPC_URL_POLYGON=XXX
RPC_URL_AVALANCHE=XXX
RPC_URL_FANTOM=XXX
RPC_URL_BSC=XXX
RPC_URL_GNOSIS=XXX
RPC_URL_SEPOLIA=XXX
RPC_URL_BASE=XXX
RPC_URL_BASE_SEPOLIA=XXX
RPC_URL_BLAST=https://rpc.blast.io
RPC_URL_HOLESKY=https://ethereum-holesky-rpc.publicnode.com
RPC_URL_SANKO=https://mainnet.sanko.xyz
RPC_URL_UNICHAIN=

PRIVATE_KEY=XXX

ETHERSCAN_KEY=XXX
ARBISCAN_KEY=XXX
POLYGONSCAN_KEY=XXX
OPTIMISM_ETHERSCAN_KEY=XXX
SNOWTRACE_KEY=XXX
FTMSCAN_KEY=XXX
BSCSCAN_KEY=XXX
GNOSISSCAN_KEY=XXX
BASESCAN_KEY=XXX
BLASTSCAN_KEY=XXX
UNISCAN_KEY=